* {
  margin: 0;
  padding: 0;  
}
.img-jumbo {
  background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),url('images/jumb.jpg');
  background-size: cover;
  height: 610px;
  color: #ffffff;
  border-radius: 0px !important;
  margin-bottom: 0%;
  padding-top: 20em;
}
.img-jumbo h1 {
  margin-top: 30px;
  font-weight: bold;
}
.grid {
  background: linear-gradient(-45deg, #EC5252 0, #6E1A52 100%);
}
.size{
  font-size:18px ;
  font-weight: bold;
}
.card .card-img-top {
  height: 10em;
}
.card {
  background: #fff;
  cursor: pointer;
}
.card:hover{
  box-shadow: 5px 5px 5px 5px #888888;
}